html {
  font-family: 'Courier New', Courier, monospace;
  border: 5px solid coral;
  margin: 200px;
  
  
} 
      /*----------------------------------------------------------------------*/
main {
  background-color: lightsalmon ;
  padding-top: 3px; 
  padding-bottom: 3px;
  margin-top: 5px;
}      
      /*----------------------------------------------------------------------*/
header {
  border-bottom: 3px solid black;
  margin-left: 10px;
}     
      /*---------------------------------------------------------------------*/
h3 {
  margin-left: 10px;
}      

      /*----------------------------------------------------------------------*/
.task-title {
  margin-bottom: 10px;
  margin-left: 10px;
}      
     /*-----------------------------------------------------------------------*/
.time {
  margin-bottom: 10px;
  margin-left: 10px;
}
    /*-----------------------------------------------------------------------*/
.date {
  margin-bottom: 10px;
  margin-left: 10px;
}
    /*-------------------------------------------------------------------------*/
#submit {
  margin-bottom: 20px;
  margin-left: 10px;
}    

    /*-------------------------------------------------------------------------*/

